<section>
  <div class="text-center">
    <div scrollTrigger>
      <h1 class="title mb-4">Fale Conosco</h1>
      <p>
        <a href="https://maps.app.goo.gl/SvtxfhbiEJo8xshTA" target="_blank"
          >Av. do Nazário, 595 - Olaria, Canoas - RS, 92032-850</a
        >
      </p>
      <p>
        <a href="mailto:torneariastarosa@hotmail.com" target="_blank">
          torneariastarosa@hotmail.com
        </a>
      </p>

      <p>Telefone: <a href="tel:+5198865190">(51) 9886-5190</a></p>
      <p>
        WhatsApp:
        <a
          href="https://wa.me/555198865190/?text=Olá,%20gostaria%20de%20fazer%20um%20orçamento."
          target="_blank"
          >(51) 9886-5190</a
        >
      </p>
      <p>
        Instagram:
        <a
          href="https://www.instagram.com/tornearia_santa_rosa/"
          target="_blank"
          >@tornearia_santa_rosa</a
        >
      </p>
    </div>
    <div class="my-4" scrollTrigger>
      <h2 class="title mb-4">Horários de Funcionamento</h2>
      <p>Seg - Sex: 08:00 - 12:00 / 13:00 - 18:00</p>
      <p>Sábados, Domingos e Feriados: Fechado</p>
    </div>
  </div>

  <iframe
    title="Mapa da localização"
    scrollTrigger
    class="iframe mt-4 mb-0"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728.9830532978551!2d-51.132279949831236!3d-29.92287792976348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951971aebc5a2aa9%3A0xbffce0d16ae7cbee!2sAv.%20do%20Naz%C3%A1rio%2C%20595%20-%20Olaria%2C%20Canoas%20-%20RS%2C%2092032-850!5e0!3m2!1spt-BR!2sbr!4v1706991188791!5m2!1spt-BR!2sbr"
    style="border: 0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
