<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand text-center" href="#">Tornearia <br />Santa Rosa</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="navbarCollapse.toggle()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbar"
    #navbarCollapse="ngbCollapse"
    [(ngbCollapse)]="navbarCollapsed"
  >
    <ul class="navbar-nav d-flex">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Produtos e Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
    </ul>
  </div>
</nav>
