:root {
  --azul: #438eff;
  --branco: #fff;
  --preto: #000;
  --amarelo: #e09d15;
  --background: #1f1c1c;
  --background-section: #1f1c1c67;

  --font-title: "Orbitron";
  --font-text: "Roboto";
}
