:root {
  --azul: #438eff;
  --branco: #fff;
  --preto: #000;
  --amarelo: #f8ab16;
  --background: #4c4848;
  --background-section: #4c484854;

  --font-title: "Orbitron";
  --font-text: "Roboto";
}
