<section>
  <h1 class="title">Fale Conosco</h1>

  <div>
    <p>Av. do Nazário, 595 - Olaria, Canoas - RS, 92032-850</p>
    <a href="mailto:torneariastarosa@hotmail.com" target="_blank">
      torneariastarosa@hotmail.com
    </a>
    <a href="el:+5134761820">Telefone: 51 3476-1820</a>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728.9830532978551!2d-51.132279949831236!3d-29.92287792976348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951971aebc5a2aa9%3A0xbffce0d16ae7cbee!2sAv.%20do%20Naz%C3%A1rio%2C%20595%20-%20Olaria%2C%20Canoas%20-%20RS%2C%2092032-850!5e0!3m2!1spt-BR!2sbr!4v1706991188791!5m2!1spt-BR!2sbr"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
