.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  justify-items: center;

  margin: 100px 0;
}

.card {
  text-align: center;
  max-width: 380px;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  height: 60px;
  line-height: 60px;
  color: var(--branco);
  background-color: var(--azul);
}

.text {
  font-size: 1rem;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
  }
}
