<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <span name="logo-instagram">Instagram</span>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <span name="logo-tiktok">TikTok</span>
      </a>
    </li>
    <li class="social-icon__item">
      <a class="social-icon__link" href="#">
        <span name="logo-whats">Whats</span>
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Inicio</a></li>
    <li class="menu__item">
      <a class="menu__link" href="#">Produtos e Serviços</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#">Empresa</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Contato</a></li>
  </ul>
  <p>&copy;2024 Leonardo Lauermann | Todos os direitos reservados</p>
</footer>
