* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: relative;
  width: 100%;
  background: rgb(47, 46, 46);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

svg path {
  fill: var(--branco);
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10;
  flex-wrap: wrap;
  .social-icon_item {
    list-style: none;
  }
  .social-icon_link {
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    &:hover {
      transform: translateY(-10px);
      filter: drop-shadow(2px 2px 2px var(--azul));
    }
  }
}

.footer {
  p,
  a {
    color: var(--branco);
    margin: 15px 0 10px 0;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s;
  }
  a:hover {
    color: var(--azul);
  }
}
