<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon_item">
      <a
        class="social-icon_link"
        href="https://www.instagram.com/tornearia_santa_rosa/"
        target="_blank"
      >
        <span name="logo-instagram">
          <figure>
            <img loading="lazy" ngSrc="/assets/svg/insta.svg" width="30" height="30" alt="Logo Instragam" />
          </figure>
        </span>
      </a>
    </li>
    <li class="social-icon_item">
      <a
        class="social-icon_link"
        href="https://wa.me/5551989566240/?text=Olá,%20gostaria%20de%20fazer%20um%20orçamento."
        target="_blank"
      >
        <span name="logo-whats">
          <figure>
            <img loading="lazy" ngSrc="/assets/svg/whats.svg" width="30" height="30" alt="Logo Whatsapp" />
          </figure>
        </span>
      </a>
    </li>
    <li class="social-icon_item">
      <a
        class="social-icon_link"
        href="https://www.tiktok.com/@tornearia_santa_rosa"
        target="_blank"
      >
        <span name="logo-tiktok">
          <figure>
            <img loading="lazy" ngSrc="/assets/svg/tiktok.svg" width="30" height="30" alt="Logo Tiktok" />
          </figure>
        </span>
      </a>
    </li>
  </ul>
  <p class="text-center">
    &copy;2024 Tornearia Santa Rosa <br />
    Desenvolvimento:
    <a
      href="https://www.linkedin.com/in/leonardo-lauermann-87b2971a4/"
      target="_blank"
      class="desenvolvimento"
      >Leonardo Lauermann</a
    >
  </p>
</footer>
