section {
  margin-top: 50px;
  .texto {
    max-width: 75%;
  }

  .slide {
    position: relative;
    background-color: var(--cinza);

    .img-style {
      width: 100%;
      height: auto;
      transition: filter 0.3s ease;
      filter: brightness(0.7) !important;
    }

    &:hover {
      .img-style {
        filter: blur(5px) brightness(70%);
      }

      .overlay {
        background-color: var(--background-section);
      }

      .palavra {
        transform: translateY(0);
      }
      .overlay {
        opacity: 1;
      }
    }

    &:not(:hover) {
      .img-style {
        filter: none;
      }

      .palavra {
        transform: translateY(100%);
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    .palavra {
      color: white;
      font-size: 24px;
      font-weight: bold;
      transform: translateY(100%);
      transition: transform 0.3s ease;
    }
  }
}

@media (max-width: 680px) {
  .overlay {
    opacity: 1 !important;
    .palavra {
      font-size: 12px;
      transform: translateY(120px) !important;
    }
  }
  .slide:hover {
    .overlay {
      background-color: transparent !important;
    }
  }
}
