<section>
  <header class="text-center mb-3">
    <h1 class="title mb-4">Produtos & Serviços</h1>
  </header>
  <div class="text-center mb-3">
    <div class="d-flex align-items-center justify-content-center">
      <p class="texto">
        A <b>Tornearia Santa Rosa</b> é reconhecida por sua excelência na
        fabricação e reparo de peças mecânicas. Além disso, seus serviços de
        manutenção e reparo são ágeis e eficientes, visando minimizar o tempo de
        inatividade dos equipamentos dos clientes. Com um compromisso inabalável
        com a satisfação do cliente, a <b>Tornearia Santa Rosa</b> busca
        estabelecer parcerias sólidas e duradouras, oferecendo soluções
        personalizadas e um atendimento de alto padrão.
      </p>
    </div>
  </div>
  <div>
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div
        ngxSlickItem
        *ngFor="let slide of slides"
        class="slide"
        (mouseover)="showOverlay($event)"
        (mouseleave)="hideOverlay($event)"
      >
        <figure>
          <img
            loading="lazy"
            [src]="slide.img"
            [alt]="slide.alt"
            class="img-style img-fluid"
          />
        </figure>
        <div
          class="overlay"
          [style.visibility]="overlayVisible ? 'visible' : 'hidden'"
        >
          <span class="palavra" [attr.data-teste]="slide.alt">{{
            slide.alt
          }}</span>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
