<section>
  <header class="text-center mb-3" scrollTrigger>
    <h1 class="title mb-4">Produtos & Serviços</h1>
  </header>
  <div class="text-center mb-3" scrollTrigger>
    <div class="d-flex align-items-center justify-content-center">
      <p class="texto">
        A <b>Tornearia Santa Rosa</b> é reconhecida por sua excelência na
        fabricação e reparo de peças mecânicas. Além disso, seus serviços de
        manutenção e reparo são ágeis e eficientes, visando minimizar o tempo de
        inatividade dos equipamentos dos clientes. Com um compromisso inabalável
        com a satisfação do cliente, a <b>Tornearia Santa Rosa</b> busca
        estabelecer parcerias sólidas e duradouras, oferecendo soluções
        personalizadas e um atendimento de alto padrão.
      </p>
    </div>
  </div>
  <div>
    <carousel
      [pauseOnFocus]="pauseOnFocus"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [noWrap]="!noWrap"
      [interval]="3000"
      [startFromIndex]="5"
      class="carousel"
      id='carousel'
      scrollTrigger
    >
      <slide *ngFor="let slide of slides; let index = index">
        <div
          class="slide-content slide"
          (mouseover)="showOverlay($event)"
          (mouseleave)="hideOverlay($event)"
        >
          <figure>
            <img
              [ngSrc]="slide.img"
              [alt]="slide.alt"
              [width]="100"
              [height]="100"
              class="img-style img-fluid"
            />
          </figure>

          <div
            class="overlay"
            [style.visibility]="'visible'"
          >
            <span class="palavra">{{ slide.alt }}</span>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</section>
