section {
  margin-top: 50px;
  .texto {
    max-width: 75%;
  }
  .img-style {
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
      content: attr(data-teste);
      color: white;
    }
  }
}
