<section>
  <div [class]="'position-relative'">
    <div class="d-flex justify-content-end d-lg-inline">
      <figure>
        <img loading="lazy" [class]="'img-fluid'" [alt]="'Peças'" src="/assets/img/home.jpg" />
      </figure>
    </div>
    <h2 class="position-absolute texto">
      CONCEPÇÃO <br />
      E REALIZAÇÃO DE <br />
      PROJETOS <br />
      ESTRATÉGICOS
    </h2>
    <p class="position-absolute divisor"></p>
    <a
      href="https://wa.me/5551989566240/?text=Olá,%20gostaria%20de%20fazer%20um%20orçamento."
      target="_blank"
      ><button class="position-absolute btn">Faça seu orçamento</button></a
    >
  </div>
</section>
