@import "./app/shared/scss/main.scss";
@import "bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: var(--cinza) !important;
  font-family: var(--font-text) !important;
}

.title {
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slick-next {
  position: relative;
  right: 50px !important;
}

.slick-prev {
  position: relative;
  left: 25px !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick" !important;
  font-size: 40px !important;
  line-height: 1 !important;
  color: white !important;
  opacity: 0.75 !important;
  -webkit-font-smoothing: antialiased !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--cinza);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--azul);
}

@media (max-width: 680px) {
  .title {
    font-size: 1.5rem !important;
  }
}
